<h1>Editing insta post</h1>

<%= render "form", insta_post: @insta_post %>

<br>

<div>
  <%= link_to "Show this insta post", @insta_post %> |
  <%= link_to "Back to insta posts", insta_posts_path %>
</div>
